# Dependencies
node_modules/

# Build outputs
/dist
/build
/.vite
/.nuxt
.next
.nuxt
.vuepress/dist
.output

# Environment variables
.env.local
.env.*.local

# Package manager
.yarn/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*